<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travels Wings</title>
    <!-- <link rel="stylesheet" href="/css/body.css"> -->
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Travels Wings</h1>
            <p>Proporcionando todas las comodidades y seguridad en vuelos y reservas internacionales.</p>
        </header>
        <main class="main-content">
            <section class="intro-section">
                <h2>Bienvenidos a Travels Wings</h2>
                <p>En Travels Wings, nos dedicamos a buscar los mejores destinos para nuestros viajeros, ofreciendo siempre las mejores comodidades y precios. Nuestro objetivo es hacer de cada viaje una experiencia inolvidable, asegurando que cada detalle esté cuidadosamente planificado y ejecutado.</p>
                <p>Ya sea que estés buscando un destino exótico para tus vacaciones, un viaje de negocios eficiente o una aventura inolvidable, estamos aquí para ayudarte a encontrar y reservar el vuelo perfecto. Confía en Travels Wings para todas tus necesidades de viaje internacional.</p>
            </section>
            <section class="services-section">
                <h2>Nuestros Servicios</h2>
                <ul>
                    <li>Asistencia completa en la búsqueda y reserva de vuelos internacionales.</li>
                    <li>Ofertas exclusivas y descuentos en vuelos y paquetes turísticos.</li>
                    <li>Servicio al cliente 24/7 para ayudarte en todo momento.</li>
                    <li>Asesoría personalizada para planificar tu viaje ideal.</li>
                </ul>
            </section>
        </main>
        <footer class="footer">
        </footer>
    </div>
</body>
</html>
