</div>

<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0.0
    </div>
    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <strong>Copyright &copy; 2024-2054 <a href="informacion.html">Travel Wings</a>.</strong> Todos los derechos
    reservados.

  </footer>
      <script src="../js/main.js"></script>
      <!-- jQuery 3 -->
      <script src="../dash/bower_components/jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap 3.3.7 -->
      <script src="../dash/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- SlimScroll -->
      <script src="../dash/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
      <!-- FastClick -->
      <script src="../dash/bower_components/fastclick/lib/fastclick.js"></script>
      <!-- AdminLTE App -->
      <script src="../dash/dist/js/adminlte.min.js"></script>
      <!-- AdminLTE for demo purposes -->
      <script src="../dash/dist/js/demo.js"></script>
      <script>
        $(document).ready(function () {
          $('.sidebar-menu').tree()
        })
      </script>
    </body>
    </html>