<%- include("partials/partials.dash.header.ejs")  %>
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border bg-green-gradient">
      <h3 class="box-title">Paises disponibles</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
          <i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elige el destino que deseas</title>
    <link rel="stylesheet" href="/css/vuelos.css">
</head>
<body>
    <header>
        <h1>Elige el destino que deseas</h1>
    </header>
    <section class="content">
        <!-- Contenedor para mostrar los destinos -->
        <div id="destinationsContainer"></div>
    </section>
    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modalMessage">Tu reserva aún no se ha realizado, puedes ir a la seccion de reservas para separarlo</p>
        </div>
    </div>
</body>
</html>

</div>
    <!-- /.box-body -->
    <div class="box-footer">
    </div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

</section>

<%- include("partials/partials.dash.footer.ejs")  %>

